/* main text color #757575 */
/* second text color #212121 */
/* accent color #2196F3 */
/* white color  #FFFFFF */
/* black color #000000 */
/* second background color #F5F4FA */
/* footer background color #2F303A */
/* footer links color rgb(255, 255, 255, 0.6) */

/* special */
/*  */
:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--accent-color: #2196f3;
	--accent-section-color: #f5f4fa;
	--accent-link-color: rgba(255, 255, 255, 0.6);
	--primary-white-color: #ffffff;
	--primary-black-color: #000000;
	--accent-bg-color: #2f303a;
}
/* list */
.list {
	list-style-type: none;
}
/* link */
.link {
	text-decoration: none;
}
.link.accent {
	color: var(--accent-link-color);
}
/* button */
.btn.primary {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}
.titles {
	color: var(--secondary-text-color);
}

/* body */
.page-body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
}

/* logo */
.logo.accent {
	color: var(--accent-color);
}
.hero-title {
	color: var(--primary-white-color);
}

/* header logo */
.header-logo {
	color: var(--primary-black-color);
}

/* navigation */
.navigation.link {
	color: var(--secondary-text-color);
}
.navigation.link:hover,
.navigation.link:focus {
	color: var(--accent-color);
}
/* contacts */
.contact.link {
	color: var(--primary-text-color);
}
.contact.link:hover,
.contact.link:focus {
	color: var(--accent-color);
}

/* hero */
.hero {
	background-color: var(--accent-bg-color);
}

/* our team */
.team {
	background-color: var(--accent-section-color);
}

/* footer */
.footer {
	background-color: var(--accent-bg-color);
}
.address-item.location {
	color: var(--primary-white-color);
}

/* footer logo */
.footer-logo {
	color: var(--primary-white-color);
}
