:root {
	--main-text-color: #212121;
	--second-text-color: #757575;
	--accent-color: #2196f3;
	--bg-color: #ffffff;
	--bg-our-team: #f5f4fa;
	--bg-footer: #2f303a;
	--footer-contacts: rgba(255, 255, 255, 0.6);
	--border-header: #ececec;
	--border-porfolio-cards: #eeeeee;
	--basic-white: #ffffff;
	--basic-black: #000000;
}
/* сброс */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

img {
	display: block;
	/* width: 100%; */
}

p {
	margin: 0;
}

.link {
	text-decoration: none;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.item {
	width: 370px;
}

/* шрифт */

.page-body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	font-weight: 400;
}

/* секции */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* контейнер */

.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* контент */

.content {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

/* buttons */

.btn {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: inherit;

	color: var(--basic-white);
	background-color: var(--accent-color);

	padding: 10px 32px;
	border-style: none;
	border-radius: 4px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* заголовки */

.title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;

	color: var(--main-text-color);

	margin-bottom: 50px;
}

.subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;

	color: var(--main-text-color);
}

/* text */

.text {
	color: var(--second-text-color);
}

/* about */

.about {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* header */

.header {
	border-bottom: 1px solid var(--border-header);
}

.header .content {
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

/* logo */
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

	color: var(--basic-black);
}

.logo .accent {
	color: var(--accent-color);
}

/* navigation */

.nav {
	margin-left: 93px;
}

.nav-list {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
}

.nav-item .link {
	color: var(--main-text-color);
}
.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-item .link:hover,
.nav-item .link:focus {
	color: var(--accent-color);
}

/* contacts */

.contacts {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
	margin-left: auto;
}

.contacts-item .link {
	color: var(--second-text-color);
}

.contacts-item:not(:last-child) {
	margin-right: 50px;
}

.contacts-item .link:hover,
.contacts-item .link:focus {
	color: var(--accent-color);
}

/* hero */

.hero {
	background-color: var(--bg-footer);
}

.hero .content {
	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: var(--basic-white);

	margin-bottom: 30px;
}

/* features */

.features .list {
	display: flex;
}

.features .item {
	width: 270px;
}
.features .item:not(:last-child) {
	margin-right: 30px;
}

.features .title {
	font-weight: 700;
	font-size: inherit;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: left;

	color: var(--main-text-color);

	margin-bottom: 10px;
}

.features .text {
	color: var(--second-text-color);
}

/* чем мы занимаемся */

.job.section {
	padding-top: 0;
}

.job .list {
	display: flex;
}

.job .item:not(:last-child) {
	margin-right: 30px;
}

/* наша команда */

.team {
	background-color: var(--bg-our-team);
}

.team .link {
	display: block;
}

.team .item {
	width: 370px;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team .about {
	text-align: center;
}

/* footer */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--bg-footer);
}

.footer .logo {
	display: inline-block;
	margin-bottom: 20px;

	color: var(--basic-white);
}

.address {
	font-style: normal;
}

.address li:not(:last-child) {
	margin-bottom: 9px;
}

.place {
	color: var(--basic-white);
}
